<!-- 1 level -->
<div class="body__item body__item-active">
    <p class="body__item-text">Mariam Shulc</p>
</div>

<!-- 2 level -->
<div class="body__item body__item-small">
    <p class="body__item-text">quam nostrum impedit mollitia quod et dolor</p>
</div>

<!-- 3 level -->
<div class="body__album-wrapper">
    <div class="body__album-item"><div class="album-item__important album-item__important-active"></div><img src="./images/pic.jpg" alt="" width="150px" height="150px"></div>
    <div class="body__album-item"><div class="album-item__important"></div><img src="./images/pic.jpg" alt="" width="150px" height="150px"></div>
    <div class="body__album-item"><div class="album-item__important"></div><img src="./images/pic.jpg" alt="" width="150px" height="150px"></div>
</div>

<!-- tooltip -->
<div class="tooltip">quam nostrum impedit mollitia quod et dolor</div>

<!-- modal -->
<div class="modal">
    <div class="modal-close"></div>
    <div class="modal-content">
        <img src="./images/pic.jpg" alt="">
    </div>
</div>

<!-- header -->
<header class="header-menu container">
    <div class="header-menu__item header-menu__catalog header-menu__item-active">Каталог</div>
    <div class="header-menu__item"><div class="header-menu__important">Избранное</div></div>
</header>

<!-- Также требуется:
 1. Прелоадер для каталога
 2. Прелоадер для второго уровня
 3. Прелоадер для третьего уровня
 4. Ошибка для каталога
 5. Ошибка для второго уровня
 6. Ошибка для третьего уровня
 7. Пустое Избранное
 8. Заполненное избранное -->
 
<!-- Требуется в js:
 1. Подумать как лучше очистить root при переключении вкладок
 2. Доделать ту вёрстку, которая ещё не сделана
 3. Расставить catch и проверить их работоспособность
 4. Создать раздел избранного
 5. Прописать скрипты для избранного (многое можно взять из new Photo)
 6. Чуток поспать -->
